#corp{
	display: flex;
	flex-direction:column;
	justify-content: center;
	

}
#gr{
	border:solid;
	border-radius: 20px;
	width: 250px;
	height: 250px;
}
#p404{
	border:solid;
	border-radius: 20px;
	width: 50%;
	height: 300px;

}
#page404 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: #74D0F1;
	font-family:bolder;
	padding-bottom: 20px;
	padding-top: 20px;


}

#raison{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #74D0F1;
}


a {
	font-family:bolder;
	list-style: none;
	text-decoration:none; 
	color: black;
	
}
footer{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: #74D0F1;

}

